doctype html
html(lang="ko")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 회원가입
		link(rel="stylesheet" href="/css/all.min.css")
		link(rel="stylesheet" href="/css/animate.css")
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/base.css")
		link(rel="stylesheet" href="/css/index.css")
		script(src="/js/jquery-3.5.1.min.js")
		script(src="/js/bootstrap.bundle.min.js")
		script(src="/js/imagesloaded.pkgd.min.js")
	body
		.wrapper.container
			.jumbotron
				h1
					| 회원가입
					small - Express와 연동하는 회원가입 테스트
				hr
			form(action="/user/save" method="post")
				.form-inline
					input.form-control.mr-2(type="text" name="userid" placeholder="아이디")
					input.form-control.mr-2(type="password" name="userpw" placeholder="패스워드")
					input.form-control.mr-2(type="text" name="username" placeholder="이름")
					input.form-control.mr-2(type="text" name="email" placeholder="이메일")
					button.btn.btn-primary 저장
		script(src="/js/index.js")
