doctype html
html(lang="ko")
	head
		title PUG를 배워봅시다
		link(rel="stylesheet" href="/css/all.min.css")
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/base.css")
	body
		.container
			.jumbotron
				h1 PUG를 배워보자
					small pug를 활용한 웹사이트 만들기

