doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title
		include ../inc/css-link.pug
		include ../inc/js-link.pug
	body
		include ../inc/header.pug
		.container(style="padding-top: 80px;")
			.jumbotron
				block titleBar
			.cont-wrap
				block contents